<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"><span id="js-rotating">Python, Data Science, Golang, Big Data, C#, Machine Learning, Docker, Django, Computer Vision, Flask, Spark, Javascript</span></h4>
  </div>
  <br>
  <div class="user-content">
    <p>
      I`m a data architect at one of the major banks is South Africa. I`m passionate about programming and enjoy building practical solutions to real world business problems. 
    </p>
	<p>
	  In my spare time I spend time with my wife and our 2 beautifull children and running as much as I can. Big dream of mine is still to complete a full marathon
	</p>
  </div>
</div>