<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/profile.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"><span id="js-rotating">Python, DBT, SQL, Spark, Big Data, Azure, Docker, Kubernetes, Django, GoLang, C#</span></h4>
  </div>
  <br>
  <div class="user-content">
    <p>
      I`m a data architect by title, but a sofware engineer at heart, at a consulting house in South Africa. I`m passionate about data and business intelligence and enjoy building practical solutions to real world business problems. 
    </p>
	<p>
	 My primary focus is on the Azure data stack, but as part of my personal development I have a big interest in developing open source data platforms that are cloud agnostic.
	</p>
	<p>
	  In my spare time I spend time with my wife and our beautifull children. I enjoy running as much as I can. Big dream of mine is still to complete a full marathon
	</p>
  </div>
</div>